:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196F3;
  --background-accent: #F5F4FA;
  --hero-background: #2F303A;
  --primary-bg: #FFFFFF;
  --social-icons: #AFB1B8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.site-nav__icons_svg_smartphone, .site-nav__icons_svg_envelope {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill var(--transition-dur-and-func);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.block-picture {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg);
}
body.modal-open {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section_top-padding_none {
  padding-top: 0;
}
.section_theme_accent {
  background: var(--background-accent);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}
.logo__first-word {
  color: var(--accent);
}

.header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0px;
  color: var(--primary-bg);
}

.button {
  display: inline-block;
  min-width: 73px;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
}
.button_type_primary {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-bg);
  background-color: var(--accent);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transform: scale(1);
  transition: transform var(--transition-dur-and-func);
}
.button_type_primary:hover, .button_type_primary:focus {
  transform: scale(1.1);
}
.button_type_secondary {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--background-accent);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), shadow var(--transition-dur-and-func);
}
.button:hover, .button:focus {
  color: var(--primary-bg);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container .buttons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: start;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .container .buttons {
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.buttons .item:not(:last-child) {
  margin-right: 8px;
}

.mobile-menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
}

.section__title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}
.social-list__link_theme_light {
  background-color: var(--primary-bg);
}
.social-list__link_theme_dark {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent);
}
.social-list__icon {
  transition: fill var(--transition-dur-and-func);
}
.social-list__icon_theme_light {
  fill: var(--social-icons);
}
.social-list__icon__theme_dark {
  fill: var(--primary-bg);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--primary-bg);
}

.subscribe-form {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .subscribe-form {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.subscribe-form__input {
  padding-left: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-bg);
}
@media screen and (min-width: 480px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}
.subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-form__input {
  margin-right: 12px;
}

.subscribe-button {
  padding: 10px 28px;
  background-color: var(--accent);
  color: var(--primary-bg);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-dur-and-func);
}
.subscribe-button::after {
  display: inline-block;
  content: "";
  margin-left: 10px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/send.svg);
}
.subscribe-button:hover, .subscribe-button:focus {
  background-color: #188CE8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--primary-bg);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 48px 40px;
}
.mobile-menu__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  cursor: pointer;
  line-height: 0;
  border-color: transparent;
  background-color: transparent;
  transition: fill var(--transition-dur-and-func);
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus .mobile-menu__close-icon {
  fill: var(--accent);
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mobile-menu__link_current {
  color: var(--accent);
}
.mobile-menu__contacts {
  margin-bottom: 64px;
}
.mobile-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent);
}
.mobile-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mobile-menu__social-list {
  display: flex;
  gap: 20px;
}
.mobile-menu__social-link {
  position: relative;
  color: var(--accent);
}
.mobile-menu__social-link_decorated::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 22px;
  border-right: 1px solid var(--primary-text-color);
  background-color: var(--primary-bg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  max-height: 609px;
  width: 100%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  border-radius: 4px;
  background-color: var(--primary-bg);
  transition: transform var(--transition-dur-and-func);
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition: border-color var(--transition-dur-and-func);
}
.close-button:hover, .close-button:focus {
  outline: none;
  border-color: var(--accent);
}
.close-button-icon {
  transition: fill var(--transition-dur-and-func);
}
.close-button:hover .close-button-icon, .close-button:focus .close-button-icon {
  fill: var(--accent);
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-caption {
  margin-bottom: 12px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.modal-form-field {
  margin-bottom: 10px;
}
.modal-form-textarea {
  margin-bottom: 20px;
}
.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent);
}
.modal-form-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  align-self: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .modal-form-checkbox-wrapper {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}
.modal-form-checkbox-wrapper-link {
  color: var(--accent);
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent);
}
.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-form-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent);
}
.modal-form-submit-button {
  align-self: center;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-bg);
  background-color: var(--accent);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-dur-and-func);
}
.modal-form-submit-button:hover, .modal-form-submit-button:focus {
  background-color: #188CE8;
}

.modal-form-own-checkbox {
  padding: 4px 2px 3px 3px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
}
.modal-form-checkbox:checked + .modal-form-own-checkbox {
  border: 0px;
  background-color: var(--accent);
}
.modal-form-checkbox:focus + .modal-form-own-checkbox {
  outline: 2px solid var(--accent);
}
.modal-form-own-checkbox-icon {
  display: none;
}
.modal-form-checkbox:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
  display: block;
  fill: var(--primary-bg);
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-container {
  display: flex;
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .site-nav-menu {
    margin-right: 96px;
  }
}
.site-nav-menu__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-dur-and-func);
}
.site-nav__menu-link_current {
  position: relative;
  color: var(--accent);
}
.site-nav__menu-link:hover, .site-nav__menu-link:focus {
  color: var(--accent);
}
@media screen and (min-width: 768px) {
  .site-nav__menu-link_current::after {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    content: "";
    border-radius: 2px;
    background-color: var(--accent);
  }
}

.site-nav_contacts {
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .site-nav_contacts {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .site-nav__contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}

.site-nav__contacts-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}
@media screen and (min-width: 1200px) {
  .site-nav__contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.site-nav__contacts-link:hover, .site-nav__contacts-link:focus {
  color: var(--accent);
}

.site-nav__icons_svg_envelope {
  width: 16px;
  height: 12px;
}

.site-nav__icons_svg_smartphone {
  width: 10px;
  height: 16px;
}

.site-nav__contacts-link:hover .site-nav__icons_svg_envelope,
.site-nav__contacts-link:focus .site-nav__icons_svg_envelope,
.site-nav__contacts-link:hover .site-nav__icons_svg_smartphone,
.site-nav__contacts-link:focus .site-nav__icons_svg_smartphone {
  fill: var(--accent);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero_background-image_team {
  background-color: var(--hero-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile.jpg");
}
.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  color: var(--primary-bg);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

/* 
0px - 767px
2x +
*/
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero_background-image_team {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@2x.jpg");
  }
}
/* 
768px +
*/
@media screen and (min-width: 768px) {
  .hero_background-image_team {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
  }
}
/* 
768px +
2x +
*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero_background-image_team {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@2x.jpg");
  }
}
/* 
1200px +
1x
*/
@media screen and (min-width: 1200px) {
  .hero_background-image_team {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
  }
}
/* 
1200px +
2x +
*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero_background-image_team {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.features__item::before {
  display: block;
  margin-bottom: 30px;
  content: "";
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.features__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__item_svg_antenna::before {
  background-image: url(../images/features/antenna.svg);
}

.features__item_svg_clock::before {
  background-image: url(../images/features/clock.svg);
}

.features__item_svg_diagram::before {
  background-image: url(../images/features/diagram.svg);
}

.features__item_svg_astronaut::before {
  background-image: url(../images/features/astronaut.svg);
}

.services__list {
  display: flex;
  justify-content: space-between;
}
.services__item {
  position: relative;
}
.services__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
.services__text-thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services__text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bg);
}
@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    flex-wrap: wrap;
    gap: 30px;
  }
}
.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__caption {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team__picture {
  width: 100%;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .clients {
    flex-wrap: wrap;
  }
}
.clients__link {
  display: block;
  padding: 16px 52px;
  width: 210px;
  height: 92px;
  border-color: var(--social-icons);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    padding: 16px 32px;
  }
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent);
}
.clients__icon {
  fill: var(--social-icons);
  transition: fill var(--transition-dur-and-func);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent);
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.portfolio .title {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.portfolio .caption {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.portfolio .item {
  display: flex;
}
@media screen and (max-width: 767px) {
  .portfolio .item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio .item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio .item {
    width: calc((100% - 60px) / 3);
  }
}
.portfolio__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio__img {
    width: 370px;
  }
}

.portfolio-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition-dur-and-func);
}
.portfolio-link:hover, .portfolio-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-block {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  transform: translate(0, 102%);
  background: rgba(33, 150, 243, 0.9);
  transition: transform var(--transition-dur-and-func);
}
.portfolio-link:hover .portfolio-overlay-block, .portfolio-link:focus .portfolio-overlay-block {
  transform: translate(0, 0);
}
.portfolio-overlay-thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfolio-overlay-text {
  margin: 0;
  min-width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-bg);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background);
}
.footer__flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__flex-container {
    flex-direction: row;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__flex-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex-container {
    gap: 70px;
  }
}
.footer__title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg);
}
.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__link_type_address {
  color: var(--primary-bg);
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .footer__container_centered {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .footer__links {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer__social-list__container {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__subscribe-form__container {
    margin-top: 60px;
  }
}/*# sourceMappingURL=main.css.map */