.clients {
    @include centeredFlex();
    gap: 30px;

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }

    &__link {
        display: block;
        padding: 16px 52px;
        width: 210px;
        height: 92px;
        border-color: var(--social-icons);
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;

        transition: border-color var(--transition-dur-and-func);

        @media screen and (min-width: $tablet) {
            width: 226px;
            padding: 16px 60px;
        }

        @media screen and (min-width: $desktop) {
            width: 170px;
            padding: 16px 32px;
        }

        &:hover,
        &:focus {
            border-color: var(--accent);
        }
    }

    &__icon {
        fill: var(--social-icons);

        transition: fill var(--transition-dur-and-func);

        .clients__link:hover &,
        .clients__link:focus & {
            fill: var(--accent);
        }
    }
}