.header {
    border-bottom: 1px solid #ECECEC;

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav-container {
        display: flex;
    }
}