.header {
    border-bottom: 1px solid #ECECEC;

    &__container {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__nav-container {
        display: flex;
        width: 100%;
    }
}