.services {
    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
            position: relative;
        }
    
    &__overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 70px;
        width: 100%;

        background-color: rgba(47, 48, 58, 0.8);

    }

    &__text-thumb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__text {
        margin: 0;
        @include font(700, 14px, 1.143, 0.03em);
        text-align: center;
        text-transform: uppercase;

        color: var(--primary-bg);
    }

    @media screen and (max-width: 1200px) {
        display: none;
    }
}